/********************************************/
/****************** FOOTER ******************/
/********************************************/
@media screen
{
	
	footer
		{
			background-color: rgba(255,255,255,0.3);
			border: white 1px solid;
			border-radius: 1em;
			margin: 10%;
			padding: 5px;
			overflow:auto;
		}
		
		footer li
		{
			float: left;
			margin: 0 5px;
		}
	
	
	@media (min-width: 960px)
	{		
		footer li:first-of-type
		{
			padding-top:0;
		}
		
		footer li:nth-of-type(2)
		{
			padding-top:20px;
		}
		
		footer li:nth-of-type(3)
		{
			padding-top:40px;
		}
		
		footer aside 
		{
			float:right;
		}
		footer aside  a 
		{
			padding-right:30px;
			background:url(http://upload.wikimedia.org/wikipedia/commons/8/8b/Copyleft.svg?uselang=fr) no-repeat right center;
		}

	}
	
	
	@media (max-width:960px) /* = landscape */
	{	
		footer li
		{
			position:static;
		}
		
		footer aside 
		{
			padding-right:30px;
			background:url(http://upload.wikimedia.org/wikipedia/commons/8/8b/Copyleft.svg?uselang=fr) no-repeat right center;
		}
		

	}
	
	@media (max-width:640px) /* = portrait */
	{	
		footer li
		{
			position:static;
		}
		
		footer aside 
		{
			display: none;
		}
		

	}
	
}